<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GlobalRegionsFilter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1FC2157F1E022B61000FBD52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FC215981E022B61000FBD52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FC215A31E022B61000FBD52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
